@{
    ViewBag.Title = "Home Page";
}

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
        <li data-target="#my-carousel" data-slide-to="3"></li>

    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/SliderImage/baby2.jpg" />
            <div class="carousel-caption">
                ER1
            </div>
        </div>
        <div class="item">
            <img src="~/SliderImage/baby4.jpg" />
            <div class="carousel-caption">
                ER2
            </div>
        </div>
        <div class="item">
            <img src="~/SliderImage/babay3.jpg" />
            <div class="carousel-caption">
                ER3
            </div>
        </div>
        <div class="item">
            <img src="~/SliderImage/doc.jpg" />
            <div class="carousel-caption">
                ER4
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="intro">
    <h3 class="text-center">
        <strong>
            مستشفي نورالحياة  نور الامل
        </strong>
    </h3>
    <p class="text-center">
        <span>
            نحن نقدم خدمة طبية فائقة الجودة
            والأمان طبقًا للمعايير القياسية العالمية في مجال طب الأطفال المبتسرين،
            ونساهم في توعية الآباء
            والأمهات بالأساليب الصحيحة والمهارات الضرورية لرعاية أطفالهم حديثي الولادة،
            وتقوم مستشفى مهد برعاية الأطفال المبتسرين لغير القادرين بالمجان،
            ولدينا عدد كبير من الأطباء المتخصصين ذوي الخبرة
            والكفاءة في مجال طب الأطفال، لتدعيم أعلى مستويات الصحة والراحة.
        </span>
    </p>
</div>